body{
	display:flex;
	flex-flow:row wrap;
	width:98%;
	margin:0 auto;
}
h1{
	color:#3B3333;
}
p{
	color:#034E8D;
}
span{
	color:#BD3A3A;
}
/* ----------------------header------------------------------ */
header{
	display:flex;
	background:#6D6EA7;
	flex-basis:100%;
}
header>h1{
	color:#5494FF;
}
/* ----------------------content ----------------------------- */
section.content{
	width:80%;
	margin:0 auto;
}