/* ----------------------slider------------------------------- */
.slider{
	display:inline;
	flex-flow:row wrap;
	flex-basis:1200px;
	height:400px;
	margin:0 auto;
	overflow:hidden;
}
.slider .sliders{
	display:block;
	width:10000px;
	height:400px;
	margin:0;
	pading:0;
	backgroun:red;
}
.slider .slide{
	padding-left:-40px;
	float:left;
	display:inline;
	width:1200px;
	list-style-type:none;
}
.slider .slide:nth-child(1){
	margin-left:-40px;
}

img{
	width:1200px;
	height:400px;
}
/* ----------------------content ----------------------------- */
section.content{
	display:flex;
	flex-basis:80%;
	margin:0 auto;
	background:#C7C6C6;
	overflow:hidden;
}
section.content article{
	display:flex;
	flex-flow:row wrap;
	margin-left:20px;
}
.logo-abracadabra{
	width:100%;
}