.wrapper{
  main{
    section.content{
      min-width:500px;
          .my-photo{
              width:100px;
              height:100px;
              display:inline-block;
              margin:30px 10px 40px;

          }
          .initials{
              display: inline-block;
          }
            .first-line{
                width:100%;
                box-shadow: 0 0 100px black;
                padding:10px;
                list-style-type:none;
                float:left;
                height:350px;
                li{
                  height:40px;
                  color:white;
                  text-shadow:2px 2px 1px black;
                    meter{
                      float:right;
                      box-shadow:3px 3px 3px black;
                      margin-right:20px;
                    }
                }
            }
            .second-line{
                width:450px;
                box-shadow: 0 0 100px black;
                list-style-type:none;
                padding:10px;
                margin-left:5px;
                float:left;
                height:350px;
                //display none bottom
                display:none;
                li{
                    height:40px;
                    meter{
                      float:right;
                    }
                }
            }
        }
    }
  }
