@import url(https://fonts.googleapis.com/css?family=Roboto:500&subset=latin,cyrillic);
/* -------------------general---------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
/* ----------------------header------------------------- */
.wrapper {
  width: 1350px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  min-height: 1000px;
}
.wrapper header {
  display: block;
  width: 1350px;
  height: 420px;
  background: url("../images/head-bg.png") no-repeat;
  background-size: 1420px 420px;
  color: white;
}
.wrapper header .top-menu .logo {
  display: inline-block;
  height: 70px;
  width: 250px;
  margin-left: 150px;
  margin-top: 55px;
  text-decoration: none;
}
.wrapper header .top-menu .logo a {
  text-decoration: none;
}
.wrapper header .top-menu .logo a h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
  display: block;
  letter-spacing: -2px;
}
.wrapper header .top-menu .global-menu {
  display: inline-block;
  width: 630px;
  margin-left: 170px;
  margin-top: 10px;
  font-size: 13px;
  height: 30px;
  vertical-align: 10px;
  font-family: monospace;
}
.wrapper header .top-menu .global-menu ul {
  list-style-type: none;
}
.wrapper header .top-menu .global-menu ul li {
  display: inline-block;
  margin-left: 50px;
}
.wrapper header .top-menu .global-menu ul li a {
  text-decoration: none;
  color: white;
}
.wrapper header .top-menu .global-menu ul li a:hover {
  color: gold;
}
.wrapper header .top-menu .index-lang {
  display: inline-block;
  vertical-align: 10px;
  height: 20px;
  margin-left: 40px;
  width: 60px;
  background: none;
  border: 1px solid #544949;
}
.wrapper header .site-menu {
  display: inline-block;
  margin-top: 10px;
  margin-left: 150px;
  font-size: 15px;
  height: 45px;
  width: 1240px;
  font-family: monospace;
}
.wrapper header .site-menu ul {
  display: inline-block;
  list-style-type: none;
  height: 45px;
  background: white;
  margin-top: 2px;
}
.wrapper header .site-menu ul li {
  display: inline-block;
  margin-left: -10px;
}
.wrapper header .site-menu ul li:first-child {
  margin-left: -40px;
}
.wrapper header .site-menu ul li:first-child a {
  padding-right: 50px;
  padding-left: 35px;
}
.wrapper header .site-menu ul li:nth-child(6) a {
  padding: 16px 30px;
}
.wrapper header .site-menu ul li:last-child {
  margin-left: -10px;
  background: -webkit-linear-gradient(top, #52a728, #745d1e);
}
.wrapper header .site-menu ul li:last-child a {
  padding: 15px 60px;
  padding-bottom: 12px;
  color: white;
  border: 1px solid white;
}
.wrapper header .site-menu ul li:last-child a span {
  margin-top: -10px;
  color: #93a765;
  height: 20px;
}
.wrapper header .site-menu ul li:last-child a span i {
  padding-left: 0;
}
.wrapper header .site-menu ul li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #6d6e71;
  padding: 16px 15px;
}
.wrapper header .site-menu ul li a i {
  padding-left: 10px;
}
.wrapper header .site-menu ul li a:hover {
  color: red;
}
.wrapper header .slogan {
  width: 830px;
  height: 235px;
}
.wrapper header .slogan .first-line {
  display: inline-block;
  margin-left: 180px;
  margin-top: 80px;
  font-size: 55px;
}
.wrapper header .slogan .two-line {
  display: inline-block;
  margin-left: 300px;
  margin-top: -25px;
  font-size: 55px;
}
.wrapper header .slogan .three-line {
  display: inline-block;
  margin-left: 370px;
  margin-top: -15px;
  font-size: 55px;
}
.wrapper .content {
  min-width: 1350px;
  display: block;
}
.wrapper .content .left-column {
  float: left;
  width: 830px;
  height: 550px;
}
.wrapper .content .left-column .img-bootle {
  float: left;
  width: 380px;
  height: 100%;
  position: relative;
}
.wrapper .content .left-column .img-bootle span {
  position: absolute;
  top: -70px;
  left: 90px;
  width: 250px;
  height: 400px;
  background: url("../images/bootle2.png") no-repeat;
  background-size: 100% 100%;
}
.wrapper .content .left-column .info-price {
  display: inline-block;
  width: 450px;
}
.wrapper .content .left-column .info-price .mini-info {
  display: inline-block;
  width: 420px;
  margin-left: 10px;
  margin-top: 15px;
}
.wrapper .content .left-column .info-price .mini-info i {
  float: left;
  color: #fba740;
}
.wrapper .content .left-column .info-price .mini-info h1 {
  color: #4d4545;
  font-size: 30px;
  margin-left: 50px;
}
.wrapper .content .left-column .info-price .mini-info small {
  color: #a7a9ac;
  margin-left: 50px;
}
.wrapper .content .left-column .info-price .mini-info span {
  color: #c49a6c;
  margin-left: 50px;
  font-size: 30px;
}
.wrapper .content .left-column .info-price .more-info {
  margin-top: 40px;
}
.wrapper .content .left-column .info-price .more-info h1 {
  font-size: 40px;
  color: #25383f;
}
.wrapper .content .left-column .info-price .more-info ul {
  margin-top: 30px;
  list-style: none;
}
.wrapper .content .left-column .info-price .more-info ul li {
  margin-left: -30px;
}
.wrapper .content .left-column .info-price .more-info ul li a {
  font-family: Roboto;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: #000000;
  border: 5px solid black;
  padding: 10px 30px;
}
.wrapper .content .left-column .info-price .more-info ul li a:hover {
  color: #b9150d;
}
.wrapper .content .right-column {
  display: inline-block;
  background: url("../manure/images/corn.png") no-repeat;
  background-size: 100% 100%;
  width: 470px;
  height: 550px;
  position: relative;
}
.wrapper .content .right-column .font-calc {
  position: absolute;
  top: -170px;
  left: 80px;
  background: #e9e5e4;
  width: 350px;
  height: 590px;
}
.wrapper .content .right-column .font-calc .calc {
  margin-left: 15px;
  margin-top: 10px;
  height: 560px;
  width: 320px;
  background: #efefef;
  border: 2px dashed #a7a9ac;
  color: #25383f;
}
.wrapper .content .right-column .font-calc .calc .calculate {
  display: block;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 20px;
}
.wrapper .content .right-column .font-calc .calc .profit {
  display: block;
  font-size: 30px;
  margin-left: 75px;
}
.wrapper .content .right-column .font-calc .calc .argum {
  display: block;
  margin-left: 20px;
}
.wrapper .content .right-column .font-calc .calc form {
  color: #25383f;
  margin-top: 25px;
}
.wrapper .content .right-column .font-calc .calc form label {
  margin-left: 20px;
}
.wrapper .content .right-column .font-calc .calc form input {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 270px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #d1d3d4;
  padding-left: 10px;
}
.wrapper .content .right-column .font-calc .calc form ::-webkit-input-placeholder {
  color: #a7a9ac;
}
footer {
  width: 1350px;
  margin: 0 auto;
  height: 150px;
  background: black;
}
footer .footer-develop {
  display: inline-block;
  width: auto;
  margin: 100px 550px;
  color: gold;
}
